{{template "partials/header" .}}

<h1>Cart</h1>
<br>
<a href="/products/" class="btn btn-primary">Kembali</a>
<div>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Nama Product</th>
			<th scope="col">Image</th>
			<th scope="col">Desc</th>
			<th scope="col">Quantity</th>
			<th scope="col">Harga</th>
			<th scope="col">Actions</th>
		  </tr>
		</thead>
		<tbody>
			{{range .Carts}}
			<tr>
				<th scope="row">{{.Id}}</th>
				<td>{{.Name}}</td>
				<td><img class="rounded mx-auto d-block " src="..\public\images\{{.Image}}" height="100" width="100" alt=""></td>
				<td>{{.Deskripsi}}</td>
				<td>{{.Quantity}}</td>
				<td>{{.Price}}</td>
				<td>
					<a href="/carts/deletecart/{{.Cart.Id}}" class="btn btn-danger">Hapus</a>
				</td>
			</tr>
		  {{end}}
		  
		</tbody>
	  </table>
</div>

{{template "partials/footer" .}}